<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel ="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{>header}}
    </div>   
    {{>footer}}
</body>

</html>